<main class="user-form">
  <!-- Header -->
  <%= link_to t('sessions.login'), login_url, class: "tab-inactive" %>
  <div class="tab-active"><%= t('users.sign_up') %></div>

  <!-- Username taken message -->
  <% if flash['form_error'] %>
    <div class="form-error"><%= flash[:form_error] %></div>
  <% end %>

  <!-- User form -->
  <%= form_for @user, url: signup_path do |f| %>
    <%= f.text_field :id, name: 'user[display_id]', value: @user.display_id,
      pattern: '[A-Za-z0-9]{5,25}', required: true,
      placeholder: true, title: t('.id_title'), class: 'has-tooltip', autofocus: true
    %>
    <%= email_field_tag 'user[email]', @user.email,
      required: true,
      placeholder: t('helpers.placeholder.user.email'),
      title: t('.email_title'), class: 'has-tooltip'
    %>
    <%= f.password_field :password,
      pattern: '(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,64}', required: true,
      placeholder: true, title: t('.password_title'), class: 'has-tooltip'
    %>
    <%= f.password_field :password_confirmation,
      required: true,
      placeholder: true, title: t('.password_confirmation_title'), class: 'has-tooltip'
    %>
    <%= f.submit t('.sign_up') %>
  <% end %>
</main>
